<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Instruction</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="header">
    <h1 class="header__title">에서 탈출하는 방법<br>조선민주주의인민공화국</h1>
  </header>
  <article class="article">
    <h2 class="black">자세한 지침:</h2>
    <ul>
	  <li>가능한 한 국경에 가까이 가십시오.</li>
	  <li>외국인처럼 옷을 입으세요li>
	  <li>모든 통신 소스 연결 끊기</li>
	  <li>붐비는 장소를 피하고,국경을 건너 몰래 해보십시오</li>
	  <li>당신은 국경을 넘어 한 경우,중지하고 회복하기 위해 휴식</li>
	</ul>
	<p>이제 이 가이드를 쓴 위대한 공화국의 경찰은 확실히 당신을 위해 오지 않을 것입니다</p>
  </article>
</body>
</html>